.navbar {
    background-color: rgb(91, 122, 51) !important;
}

.navbar-brand {
    color: black !important;
}

.active {
    color: white !important;
}

.headsecleft {
    /* border: 1px solid red; */
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headsecright {
    /* border: 1px solid blue; */
    /* height: 90vh; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.headsecright h1 {
    font-size: 3rem;
    color: teal;
}

.headsecright p {
    color: rgb(185, 137, 82);
}

.headerimage {
    height: 20rem;
    width: 20rem;
    border-radius: 200px;
}

.head-para1 {
    color: whitesmoke !important;
    font-size: 1.2rem;
    font-weight: bold;
}

.project-card img {
    height: 50vh;
}

.contact-page-body {
    background-image: url('/Images/Get\ In\ Touch.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* position: static; */
}

.contact-container {
    /* height: 80vh; */
    /* width: 50vw; */
    /* background-color: yellowgreen; */
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: transparent; */
}

.contact-card {
    height: 80vh;
    width: 30rem;
    /* background-color: wheat; */
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 5px 5px rgb(131, 131, 131);
    background-color: transparent;
}

.favicon-ioc {
    width: 40px;
}

.input-group span,
.input-group input,
.input-group file,
.input-group textarea,
.input-group button {
    background-color: transparent !important;
    border: 2px inset gray;
    color: black !important;
    opacity: 0.8;
    font-weight: 500;
}

footer {
    /* height: 30vh; */
    display: flex;
    /* justify-content: flex-start; */
    /* align-items: center; */
}

/* Footer Code CSS */

.footer-links {
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    margin-left: 30vw;

}

.footer-links a {
    text-decoration: none;
    color: rgb(91, 122, 51);
}

.footer-links a:hover {
    /* text-decoration: underline; */
    color: rgb(179, 173, 173);
    font-weight: 500;
}

/* .footer-social {
    text-decoration: none;
    width: 40px;
} */

/* .fa-linkedin, .fa-facebook, .fa-instagram{
    width: 40px;
} */

/* .footer p{
    display: flex;
    justify-content:flex-start ;
    align-items: center;
    position: center bottom ;
} */